<!DOCTYPE html>
<html>
  <head>
      <title>Join Swoop && Sinatra!</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  </head>
  <body>
      <div style="font-size:20px;text-align:center;">Hello World!</div>
      <div id="map-canvas" style="position:absolute;top:0;left:0;right:0;bottom:0;"></div>
  </body>

  <script type="text/javascript">
    var googleMap;
    var mapMarkers = {};
    $(function () {
        googleMap = new google.maps.Map($('#map-canvas')[0], {
            zoom: 12,
            center: {lat: 37.7577, lng: -122.4376}
        });
        
        fetchDriverPositions();
        delaySetDriverPosition();
        updatePositionTest();
    });

    function updatePositionTest () {
        $.post('/api/update_position', {android_id: 'moving_test', lat: '37.774556', lng: '-122.442998'});
        setTimeout(function () {
            $.post('/api/update_position', {android_id: 'moving_test', lat: '37.778556', lng: '-122.412998'});
        }, 2000);
    }

    function delaySetDriverPosition () {
        setTimeout(function () {
            fetchDriverPositions(delaySetDriverPosition);
        }, 2000);
    };

    function fetchDriverPositions (onsuccess) {
        console.log('set driver position');
        $.ajax('/api/driver_position')
            .done(function (data) {
                _.each(data.drivers, function (position) {
                    var marker = mapMarkers[position.id];
                    if (marker) {
                        _.bind(animateMarkerPosition, marker)(new google.maps.LatLng(position.lat, position.lng));
                    } else {
                        mapMarkers[position.id] = new google.maps.Marker({
                            position: new google.maps.LatLng(position.lat, position.lng),
                            map: googleMap,
                            title: 'Hello World!'
                        });
                    }
                });
                onsuccess && onsuccess();
            });
    }

    

    function animateMarkerPosition (target) {
        // this == marker
        var NUM_SLICE = 10;
        var TOTAL_TIME = 250; // 2s
        this._sw_props = this._sw_props || {};
        var pos = this.getPosition();
        if (!pos.equals(target)) {
            var latdif = (target.lat() - pos.lat()) * 10000 / NUM_SLICE;
            var lngdif = (target.lng() - pos.lng()) * 10000 / NUM_SLICE;
            var newlat = pos.lat() * 10000;
            var newlng = pos.lng() * 10000;
            this._sw_props.anim_stack = [];
            for (var i = 0; i < NUM_SLICE ; i++) {
                newlat += latdif;
                newlng += lngdif;
                this._sw_props.anim_stack.push(new google.maps.LatLng(newlat/10000, newlng/10000));
            }
            !this._sw_props.animTimeout && _.bind(_animateNext, this)(TOTAL_TIME/NUM_SLICE);
            debugger;
        }
    }

    function _animateNext (time) {
        this._sw_props.length && this.setPosition(this._sw_props.anim_stack.shift());
        this._sw_props.animTimeout = setTimeout(_.bind(function () {
            var new_pos = this._sw_props.anim_stack.shift();
            if (new_pos) {
                this.setPosition(new_pos);
                _.bind(_animateNext, this)(time);
            }
        }, this), time);
    }

  </script>

</html>

