<ion-view view-title="About">
  <ion-content>
    <div class="contacts">
            <div class="">
                <div class="ico ico-phone" style="
    vertical-align: middle;   
    background-image: url(http://clients.joinswoop.com/css/images/sprite@2x.png);   background-size: 353px 58px;
    display: block;
    width: 37px;   height: 58px;   background-position: -209px 0px; };
    margin-bottom: 26px;
    "></div>
            <p>
                <a style="font-size: 20px;" href="tel:314-537-4728">(747) 444-1986 </a> 
            </p>
        
            <div class="col-sm-4 col-md-4 col-md-offset-2">
                <i class="ico ico-email" style="
    vertical-align: middle;   background-image: url(http://clients.joinswoop.com/css/images/sprite@2x.png);   background-size: 353px 58px;   display: block;   
    width: 57px;   height: 58px;   
    background-position: -245px 0px;   margin-bottom: 26px;
    "></i>
                <p>
                    <a style="font-size: 20px;" href="mailto:sales@joinswoop.com">sales@joinswoop.com</a>
                </p>
            </div><!-- /.col-sm-4 -->
    </div>
  </ion-content>
</ion-view>
